<div class="container">

  <div class="container__label">Set up your filter</div>

  <mat-form-field>
    <input matInput placeholder="Type" [(ngModel)]="filter.type" maxlength="100">
  </mat-form-field>

  <div class="container__order">

    <div class="container__order__select">
      <mat-form-field>
        <mat-label>Order by</mat-label>
        <mat-select [(ngModel)]="filter.orderBy">
          <mat-option *ngFor="let param of filter.orderByList" [value]="param">
            {{param}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="container__order__icon">
      <button mat-icon-button (click)="switchOrderMode()">{{getArrowLabel()}}</button>
    </div>

  </div>

  <div class="container__save-btn">
    <button mat-raised-button color="primary" (click)="save()" [disabled]="disableSaveBtn()">Apply</button>
  </div>

</div>
